*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.body{
background-color: #FFF;
font-family: 'Roboto', sans-serif;

}

.center{
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.header{
    display: flex;
    flex-direction: row;
    padding-left: 300px;
    padding-top: 40px;
    gap: 500px;
}
span{
    color: #F25822;
}
.header__logo{
        display: flex;
        justify-content: center;
        align-items: center;
}
.img__logo{
    width: 35px;
    height: 40px;
    padding-right: 14px;

}
.text__logo{
    
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header__menu{
    display: flex;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 25px;
    align-items: center;
}
.main{
    display: flex;
    padding-left: 300px;
    margin-top: 89px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.main__info{
    display: flex;
    flex-direction: column;
}


.info__h1{
    color: #000;
     font-size: 60px;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
    width: 522px;
margin-bottom: 17px;
font: bold;

}
.info__paragraph{
    color: #888;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 466px;
}

.info__buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 37px;
}


.button1{
       width: 140px; 
 padding: 25px; 
 border-radius: 50px; 
background: #F25822;
box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
text-align: center; 
color: #FFF;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.button2{
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 100px;
}
.main__picture{
    width: 544.814px;
height: 374.843px;
}
.footer{
    display: flex;
    padding-left: 300px;
    padding-top: 160px;
    justify-content: space-evenly;


}